body {
    background-color: #7971c8;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

header {
    padding: 10%;
    margin-right: 20px;
    text-align: center;
    background-color: #7971c8;
}

header h1 {
    display: inline-flex;
    color: aliceblue;
}

nav {
    display: inline-block;
    background-color: #7971c8;
}

nav a {
    color: aliceblue;
    display: flex;
    text-decoration: wavy;
    text-align: center;
}

.nav ul {
    justify-content: center;
}

.nav ul li {
    display: flex;
    list-style-type: none;
}

nav a:hover {
    background-color: aquamarine;
}

img:hover {
    transform: scale(1/3);
}

.content {
    padding: 10px;
    display: inline-block;
    justify-content: space-evenly;
}

.about-me p {
    text-align: justify;
    color: aliceblue;
}

.contact-me p {
    text-align: justify;
    color: aliceblue;
}

.p2 {
    font-size: 200px;
}

.p2 #emoji {
    height: 200px;
    width: auto;
    padding-left: 2%;
}

.bowl:hover {
    background-color: aquamarine;
}

.eye:hover {
    background-color: aquamarine;
}

.star:hover {
    background-color: aquamarine;
}

.flower:hover {
    background-color: aquamarine;
}

.dog:hover {
    background-color: aquamarine;
}
