body {
    background-color: #c7a1cb;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
header {
    padding: 50px;
    text-align: center;
    background: #ffffff;
    color: #c7a1cb
}